{% extends "home.html" %}

{% load static %}
{% block jobs %}

  <form action="" method="get" id="submit">
    <!--{{ filter.form.as_p }}-->
      {% for stack in filter.form.stack %}
        <!-- class="btn btn-primary my-2" -->
        <button type="submit" value="{{ stack.name }}" ><!--name="stack" value="{{ stack.id }}"-->
          <a href="/jobs/{{ stack.name }}">{{ stack }}</a>
          <!--{{ stack }}-->
        </button>
        <!--{% for obj in filter.qs %}
          {{ obj.name }}<br />
        {% endfor %} -->
      {% endfor %}
  </form>

{% endblock %}