<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.1/examples/album/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet" type ="text/css" />

  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
            <strong>Debora's Portfolio</strong>
          </a>
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>-->
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My work</h1>
          <p class="lead text-muted">Welcome to my portfolio! <br> Here you are going to find projects I worked on the past years in a diverse range of areas from data analysis to software development. Feel free to click on any button below to access a list of my projects organized by area.</p>
          <p>
            <a href="/developer/" class="btn btn-primary my-2">Python Developer</a>
            <a href="/data_analyst/" class="btn btn-primary my-2">Data Analyst</a>
            <a href="/developer/" class="btn btn-primary my-2">FullStack Developer</a>
            <a href="/all/" class="btn btn-secondary my-2">All</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for post in post %} <!--chama da view-->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                {% if post.image %}
                  <img class="card-img-top" src= "{{ post.image.url }}" alt="{{ post.slug }}" >
                {% else %}
                  <img class="card-img-top" src="static/img/teste.png" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                  <p class="card-text">{{ post.summary }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ post.link }}">View Code</a></button>
                      {% if post.website %}
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ post.website }}">Website</a></button>
                      {% endif %}
                    </div>
                    <small class="text-muted">{{ post.technology }}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <div class="footer">
      <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 offset-md-1 py-4" >
                  <h4 class="text-white">About me</h4>
                  <p class="text-muted">My name is <b>Debora Oliveira</b>. I am a biomedical engineer, python developer and a creative seamtress (<i>on weekends</i>). I am passionated about data analysis and software development. </p>
                </div>
                <div class="col col-three-1"><div id="custom_html-4" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"></div></div></div>
                  <div class="col-sm-4 offset-md-1 py-4">
                    <div id="custom_html-3" class="widget_text widget widget_custom_html">
                      <h4 class="text-white" >Contact me</h4>
                          <div class="textwidget custom-html-widget"><ul>
                            <li><a href="https://www.linkedin.com/in/engdebora/" class="text-white">My LinkedIn</a></li>
                            <li><a href="https://github.com/DeboraOliver" class="text-white">My GitHub</a></li>
                            <li><a href="https://www.linkedin.com/in/engdebora/" class="text-white">Email me</a></li>
                          </ul></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/examples/album/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/examples/album/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/examples/album/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/examples/album/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
